[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cookie_cutter = {extras= ["testing"], path = "."}

[dev-packages]

[requires]
# Empty because pipenv will not support multiple python version here.
# see https://github.com/pypa/pipenv/issues/1050

[scripts]
venv = "pipenv install --dev --skip-lock"