[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
cookiecutter = "*"
pytest = "*"
pytest-cookies = "*"
pyyaml = "*"
tox = "*"

[requires]
# Empty because pipenv will not support multiple python version here.
# see https://github.com/pypa/pipenv/issues/1050
