*      text=auto
.*     text eol=LF
*.cfg  text eol=LF
*.css  text eol=LF
*.html text eol=LF
*.ini  text eol=LF
*.json text eol=LF
*.md   text eol=LF
*.py   text eol=LF
*.rst  text eol=LF
*.scss text eol=LF
*.sh   text eol=LF
*.toml text eol=LF
*.txt  text eol=LF
*.yml  text eol=LF
*.yaml text eol=LF
*.xml  text eol=LF
