[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
{{ cookiecutter.project_slug }} = {editable = true, path = "."}

[dev-packages]
better_exceptions = {version="*", index="pypi"}
isort = {extras = ["pyproject"], version = "*", index="pypi"}
pylint = {version="*", index="pypi"}
notebook = {version="*", index="pypi"}
#nteract_on_jupyter = {version = "*", index = "pypi"}

[requires]

[scripts]
install = "pipenv install --dev --skip-lock"
notebook = "jupyter-notebook"
#notebook = "jupyter-nteract"
