[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
bandit = "*"
black = "*"
pre-commit = "*"
pylint = "*"
pytest = "*"
tox = "*"
{{ cookiecutter.project_slug }} = {path = ".", editable = true}

[requires]
# Empty because pipenv will not support multiple python version here.
# see https://github.com/pypa/pipenv/issues/1050
